.navbarItem {
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
  width: 100%;
  border-right: 1px solid rgba(36,37,38,0.2);
  position: relative;
  &:last-child {
    border: none;
  }
  &__link {
    text-decoration: none;
    color: gray;
  }
  &__title {
    padding: 1em;
    font-size: .7em;
    text-transform: uppercase;
  }
  &__indicator {
    position: absolute;
    background-color: #f31431;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    right: 0;
    top: -0.5em;
    color: rgba(255,255,255,0.8);
  }
}

.navbarItem--active {
  &.navbarItem {
    background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
  }
  .navbarItem {
    &__title {
      color: white;
    }
  }
}
