.social {
  font-size: 1rem;
  font-family: 'Lato', sans-serif;

  &__container {
    padding: 1em;
  }
  &__groups {
    // background-color: #ffffff;
    // padding: 1em;
    margin-right: 1em;
    flex: 1;
  }
  &__overview {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1em;
  }
  &__leaderwall {
    background-color: #fff;
    width: 100%;
    border-radius: 15px;
    padding: 1em;
    margin-bottom: 1em;
    box-shadow: 0 6px 15px rgba(36,37,38,0.2), 0 10px 45px rgba(36,37,38,0.2);
  }
  &__tab {
    text-transform: uppercase;
    font-size: .8em;
    opacity: .7;
  }
  &__wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  &__whoami {
    border-radius: 50%;
    box-shadow: 0 6px 15px rgba(36,37,38,0.2);
    width: 45px;
    height: 45px;
    margin-right: 1em;
  }
  &__leaderboard {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: .5em;
  }
  &__header {
    margin-bottom: 1em;
    text-align: center;
    color: #fff;
    font-size: 1.05em;
  }
  &__status {
    flex: 1;
  }
  &__bar {
    height: 3px;
    width: 100%;
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    box-shadow: 0 0px 4px #764ba2;
    transition: width ease 4s;
  }
  &__whoName {
    font-size: .9em;
    color: rgba(1,1,1,.7);
    margin-bottom: .5em;
    display: flex;
  }
  &__lead {
    color: #764ba2;
    margin-right: .5em;
  }
  &__name {
    color: rgba(1,1,1,.7);
    flex: 1;
  }
  &__star {
    width: 1em;
  }
  &__chapter {
    font-size: .7em;
    color: rgba(1,1,1,.5);
  }
  &__chaptercount {
    color: rgba(1,1,1,.9);
  }
  &__card {
    box-shadow: 0 6px 15px rgba(36,37,38,0.2);
    background-color: #ffffff;
    padding: 1em;
    border-radius: 5px;
    margin-bottom: .5em;
  }
  &__member {
    font-size: .7em;
    margin-bottom: 1em;
  }
  &__createGroup {
    position: fixed;
    bottom: 5em;
    right: 1em;
    background-color: #fff;
    border: none;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 0 6px 15px rgba(36,37,38,0.2);
  }
}

.social__tab.social__tab--active {
  color: rgba(1,1,1,.9);
  opacity: 1;
  border-bottom: 1px solid  rgba(1,1,1,.7);
}

.group {
  font-size: 1rem;
  &__container {
    margin-bottom: 2.5em;
  }
  &__ribbon {
    position: absolute;
    font-size: .8em;
    top: 1em;
    left: -0.6em;
    padding: .25em 1.5em;
    color: rgba(255,255,255,.9);
    background-image: linear-gradient(to right, #868f96 0%, #596164 100%);

    &:after {
      content: '';
      position: absolute;
      left: 2.5px;
      top: 17px;
      width: 0;
      height: 0;
      border-top: 5px solid transparent;
      border-bottom: 5px solid transparent;
      border-right: 5px solid #9bc5c3;
      transform: rotate(135deg);
    }
  }
  &__user {
    font-size: .8em;
    opacity: .5;
  }
  &__header {
    font-size: 1.25em;
  }
  &__date {
    opacity: .8;
    position: absolute;
    right: 0.5em;
    top: 50%;
    transform: translateY(-50%);
  }
  &__tribe {
    border-radius: 7px;
    padding: .3em .5em;
    font-size: .5em;
    position: absolute;
    bottom: 1em;
    right: 1em;
    color: rgba(1,1,1,.7);
  }
  &__card {
    padding: 2.5em 1em 1em;
    box-shadow: 0 6px 15px rgba(36,37,38,0.2);
    background-color: #ffffff;
    border-radius: 5px;
    margin-bottom: 1em;
    position: relative;
  }
}

.group__card.group--book {

  & {
    color: rgba(255,255,255,.9);
    padding: 3.25em 1em 2.25em;
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  }

  .group__tribe {
    color: rgba(255,255,255,.7);
  }

  .group__ribbon {
    position: absolute;
    font-size: .9em;
    top: 1em;
    left: -.7em;
    padding: .5em 1.5em;
    background-image: none;
    color: rgba(255,255,255,.9);
    background-color: #764ba2;
    // background-blend-mode: screen, overlay;


    &:after {
      content: '';
      position: absolute;
      left: 4px;
      top: 26px;
      width: 0;
      height: 0;
      border-top: 8px solid transparent;
      border-bottom: 8px solid transparent;
      border-right: 8px solid #764ba2;
      transform: rotate(135deg);
    }
  }
}
