.badges {
  font-size: 1rem;
  padding: 1em;
  $SIZE: 25px;
  font-family: 'Roboto', sans-serif;

  &__container {
    padding: 1em;
    box-shadow: 0 6px 15px rgba(36,37,38,0.2);
    background-color: #ffffff;
    border-radius: 5px;
  }
  &__calendar {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  &__date {
    flex: 0 0 14%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__datewrapper {
    border-radius: 5px;
    height: $SIZE;
    width: $SIZE;
    box-shadow: 0 4px 10px rgba(58, 84, 110, 0.1);
    margin: .375em;
  }
  &__number {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: .8;
  }
  &__month {
    box-shadow: 0 0 3px rgba(36,37,38,0.2);
    border-radius: 10px;
    padding: 1em;
    background-color: #fff;
  }
  &__header {
    text-align: center;
    margin-bottom: 1em;
  }
  &__weekreport {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
}
