.navbar {
  font-size: 1rem;
  position: fixed;
  bottom: 0em;
  width: 100%;
  font-family: 'Raleway', sans-serif;
  opacity: 0;
  transition: opacity ease .5s, bottom ease .5s;
  border-radius: 15px;

  &__container {
    margin: 0 auto;
    box-shadow: 0 6px 15px rgba(36,37,38,0.2);
    width: 350px;
    background: #ffffff;
  }
  &__items {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

.navbar--appear {
  &.navbar {
    opacity: 1;
    bottom: 1.5em;
  }
}
